body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #434242;
  min-height: 100vh;
  color: white;
}

a {
  color: #61dafb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F3EFE0;
  color: #222222;
}

.navbar > .links > a,.navbar > .links > span > a {
  margin: 0px 10px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.search-bar {
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  padding-left: 16px;
  width: 20%;
  margin: 0 48px;
}

.list-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  padding: 1rem 1rem;
  width: 20rem;
  color: black;
  max-width: 200px;
  margin: 10px;
}

.product-card > h3 {
  text-align: center;
}

.avail {
  color: green;
}

.not-avail {
  color: red;
}
.product-read-more {
  border: 1px solid black;
  border-radius: 6px;
  padding: 4px 20px;
  background-color:indianred;
}

.product-read-more > a{
  text-decoration: none;
  color: white;
}

.wish-list-button {
  border: none;
  background-color: white;
}

.wish-list-button > img {
  position: relative;
  top: 2px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

button:hover {
  cursor: pointer;
}

.refresh-page {
  border: 1px solid black;
  padding: 8px 16px;
  background-color: azure;
  border-radius: 8px;
}

.product-detail-card {
  border: 2px solid white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  width: fit-content;
}

.product-detail-right {
  border: 1px solid white;
  width: 300px;
}

td {
  padding: 12px;
  border: 0.25px solid white
}

.product-detail-right > h3 {
  text-align: center;
}

.product-action > button {
  border: 0;
  padding: 8px 12px;
  border-radius: 8px;
  margin-right: 35px;
  background-color: orange;
  text-transform: uppercase;
  color: white;
}

table {
  margin: auto;
}

.clear-cache {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: 1px solid blue;
  background-color: skyblue;
  color: white;
  padding:12px 12px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
}

.modal-container {
  display: none;
}

.auth-container {
  border: 1px solid white;
  border-radius: 8px;
  width: 600px;
  margin: auto;
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  margin-top: 42px;
}

.auth-container > form {
  display: flex;
  flex-direction: column;
}

.auth-container > form > label {
  font-size: 32px;
  text-transform: uppercase;
  padding: 20px 0px;
}

.auth-container > form > input {
  font-size: 24px;
  padding: 4px 16px;
  border: 0px 1px 0px 0px;
  border-radius: 4px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid;
  border-color: white;
  color: white;
}

.auth-container > h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
}

.auth-container > p {
  text-align: center;
  padding-top: 32px;
  font-size: 24px;
}

.auth-container, .signup > form > label {
  font-size: 24px;
}

.auth-container, .signup > form > input {
  font-size: 20px;
}

.auth-container > .error-message {
  text-align: center;
  color: red;
}

.auth-cta {
  margin-top: 32px;
  border: 1px solid orange;
  background-color: orange;
  padding: 12px;
  color: white;
  font-size: 32px;
  border-radius: 12px;
  font-weight: 900;
}
